/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Set default background color to dark gray */
    color: #fff; /* Set default text color to white */
    transition: background-color 0.5s ease, color 0.5s ease; 
}

/* Light mode styles */
body.light {
    background-color: #f2f2f2; /* Set background color to light gray in light mode */
    color: #333; /* Set text color to dark gray in light mode */
}

/* Dark mode styles */
body.dark-mode {
    background-color: #000; /* Set background color to black in dark mode */
    color: #fff; /* Set text color to white in dark mode */
}

/* Header */
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

/* Main Content */
main {
    padding: 20px;
}

.article {
    margin-bottom: 40px;
    background-color: #fff; /* Set card background color to white */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Add transition for background color */
}

.article:hover {
    transform: translateY(-5px);
}

.article h2 {
    color: #333; /* Set card title color to dark gray */
}

.article p {
    color: #666; /* Set card content color to light gray */
}

/* Dark mode */
.dark-mode header {
    background-color: #000; /* Set header background color to black in dark mode */
}

.dark-mode .article {
    background-color: #333; /* Set card background color to darker gray in dark mode */
    color: #fff; /* Set text color to white in dark mode */
}

.dark-mode .article h2,
.dark-mode .article p {
    color: #ddd; /* Set card title and content color to light gray in dark mode */
}

/* Footer */
footer {
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    margin-right: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icons img svg {
    fill: currentColor; /* Set fill color to match text color */
}

.dark-mode .social-icons img {
    filter: brightness(0) invert(1); /* Invert colors for dark mode */
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Dark mode button */
.darkModeButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.dark-mode .darkModeButton img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.darkModeButton img {
    width: 30px;
    height: 30px;
}

.dark-mode .darkModeButton.dark-mode-button-active {
    background-color: #555; /* Set button background color in dark mode */
    color: #fff; /* Set button text color in dark mode */
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
}

.dark-mode .darkModeButton.dark-mode-button-active img {
    filter: invert(1); /* Invert icon color in dark mode */
}

/* Fullscreen modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    animation: modal-open 0.5s ease-in-out forwards;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

@keyframes modal-open {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
