/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Set background to pure black */
    color: #ffffff; /* Set text color to white */
    transition: background-color 0.5s ease, color 0.5s ease; 
}
/* Light mode styles */
body.light {
    background-color: #fff;
    color: #333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

header {
    background-color: #fff; /* Change default background to white */
    color: #333; /* Set default text color to black */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
    text-decoration: none;
}

main {
    padding: 20px;
}

.article {
    margin-bottom: 40px;
    background-color: #fff; /* Light mode background color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.article:hover {
    transform: translateY(-5px);
}

.article h2 {
    color: #333;
}

.article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Dark mode */
.dark-mode header {
    background-color: #000; /* Change background to black in dark mode */
    color: #fff; /* Change text color to white in dark mode */
}

.dark-mode body {
    background-color: #000; /* Change background to black in dark mode */
    color: #fff; /* Change text color to white in dark mode */
}

.dark-mode .article {
    background-color: #111; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
}

.dark-mode .article h2 {
    color: #fff; /* Set card title to white in dark mode */
}

/* Dark mode button */
.darkModeButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.dark-mode .darkModeButton img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.darkModeButton img {
    width: 30px;
    height: 30px;
}

/* Style for active state of dark mode button */
.dark-mode .darkModeButton.dark-mode-button-active {
    background-color: #555;
    color: #fff;
    border-radius: 50%; /* Make the button round */
    padding: 5px; /* Adjust padding to fit the icon */
    width: 40px; /* Set fixed width */
    height: 40px; /* Set fixed height */
}

/* Invert the dark mode icon when dark mode is active */
.dark-mode .darkModeButton.dark-mode-button-active img {
    filter: invert(1);
}

.dark-mode footer {
    background-color: inherit; /* Inherit from body background color */
    color: inherit;           /* Inherit from body text color */
}

/* Fullscreen modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    animation: modal-open 0.5s ease-in-out forwards;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

@keyframes modal-open {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Footer */
footer {
    color: #fff; /* Set text color for footer */
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    margin-right: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, fill 0.3s ease; /* Add transition for smooth color change */
}

.dark-mode .social-icons img {
    filter: brightness(0) invert(1); /* Invert the colors for dark mode */
}

.social-icons img:hover {
    transform: scale(1.1);
}
